In [12]:
import pandas as pd

In [163]:
def count_top3(years):
    files_list =list()
    for year in years:
        df = 'names\yob'+str(year)+'.txt'
        df = pd.read_csv(df, names =['Name', 'Gender', 'Count'])
        df['Year']= year
        files_list.append(df)
    df_res = pd.concat(files_list)
    most_popular = df_res.groupby(['Name']).sum()
    most_popular = most_popular.sort_values(by="Count", ascending= False)
    return most_popular.head(3)

In [164]:
count_top3([1880])

         Count  Year
Name
John      9701  3760
William   9562  3760
Mary      7092  3760

In [173]:
def count_dynamics(years):
    files_list =list()
    for year in years:
        df = 'names\yob'+str(year)+'.txt'
        df = pd.read_csv(df, names =['Name', 'Gender', 'Count'])
        df['Year']= year
        files_list.append(df)
    df_res = pd.concat(files_list)
    total_count = df_res.groupby(['Gender', 'Year']).sum()
    return total_count
count_dynamics([1900, 1950, 2000])

               Count
Gender Year
F      1900   299798
       1950  1713065
       2000  1815295
M      1900   150480
       1950  1790437
       2000  1963202